---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import surfingPicture from "../assets/me-surfing.jpeg";
import peruPicture from "../assets/peru-alpine-lake.jpeg";
import bigSurPicture from "../assets/big-sur.jpeg";
import sanJacintoPicture from "../assets/san-jacinto.jpeg";
import spaceXPicture from "../assets/space-x.jpeg";
import steamboatPicture from "../assets/steamboat.jpeg";
---

<Layout pageTitle="Personal">
    <h1 class="text-5xl font-bold p-6">Photos</h1>
    <div class="divider divider-neutral"></div>
    <p class="text-left pt-6 font-bold">2024 Favorites</p>
    <br />
    <div class="carousel w-full">
        <div id="slide1" class="carousel-item relative w-full">
            <div class="flex justify-center items-center">
                <Image src={surfingPicture} alt="Surfing" class="w-full" />
            </div>
            <div
                class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between"
            >
                <a href="#slide6" class="btn btn-circle">❮</a>
                <a href="#slide2" class="btn btn-circle">❯</a>
            </div>
        </div>
        <div id="slide2" class="carousel-item relative w-full">
            <div class="flex justify-center items-center">
                <Image src={peruPicture} alt="Peru" class="w-full" />
            </div>
            <div
                class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between"
            >
                <a href="#slide1" class="btn btn-circle">❮</a>
                <a href="#slide3" class="btn btn-circle">❯</a>
            </div>
        </div>
        <div id="slide3" class="carousel-item relative w-full">
            <div class="flex justify-center items-center">
                <Image src={bigSurPicture} alt="Big Sur" class="w-full" />
            </div>
            <div
                class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between"
            >
                <a href="#slide2" class="btn btn-circle">❮</a>
                <a href="#slide4" class="btn btn-circle">❯</a>
            </div>
        </div>
        <div id="slide4" class="carousel-item relative w-full">
            <div class="flex justify-center items-center">
                <Image src={sanJacintoPicture} alt="Surfing" class="w-full" />
            </div>
            <div
                class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between"
            >
                <a href="#slide3" class="btn btn-circle">❮</a>
                <a href="#slide5" class="btn btn-circle">❯</a>
            </div>
        </div>
        <div id="slide5" class="carousel-item relative w-full">
            <div class="flex justify-center items-center">
                <Image src={spaceXPicture} alt="Space X" class="w-full" />
            </div>
            <div
                class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between"
            >
                <a href="#slide4" class="btn btn-circle">❮</a>
                <a href="#slide6" class="btn btn-circle">❯</a>
            </div>
        </div>
        <div id="slide6" class="carousel-item relative w-full">
            <div class="flex justify-center items-center">
                <Image src={steamboatPicture} alt="Steamboat" class="w-full" />
            </div>
            <div
                class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between"
            >
                <a href="#slide5" class="btn btn-circle">❮</a>
                <a href="#slide1" class="btn btn-circle">❯</a>
            </div>
        </div>
    </div>
</Layout>
